<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
    <body>
      <h1 class="head">
      HELLO DRONE
      </h1>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
                
                <h3>Drone 1</h3>
                  <form action="/drone1" method="post">
                    latitude<br>
                    <input type="text" name="lat1" >
                    <br>
                    longitude<br>
                    <input type="text" name="long1">
                    <br><br>
                    <input type="submit" value="Submit">
                  </form>
          </div>
          <div class="col-md-4">
                  <h3>Drone 2</h3>
                  <form action="/drone2" method="post">
                    latitude<br>
                    <input type="text" name="lat2" >
                    <br>
                    longitude<br>
                    <input type="text" name="long2">
                    <br><br>
                    <input type="submit" value="Submit">
                  </form>
          </div>
          <div class="col-md-4">
                <h3>Drone 3</h3>
                  <form action="/drone3" method="post">
                    latitude<br>
                    <input type="text" name="lat3" >
                    <br>
                    longitude<br>
                    <input type="text" name="long3">
                    <br><br>
                    <input type="submit" value="Submit">
                  </form>
          </div>

        </div>
      </div>
     
  </body>
</html>