<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body >
  
    <ul class="nav nav-tabs navbar-center">
      <li role="presentation"><a href="/">NON MASTER</a></li>
      <li role="presentation"><a href="/master">MASTER SLAVE</a></li>
      <li role="presentation"><a href="/image">TAKE IMAGES</a></li>
    </ul>
      {{{ body }}}
    
  </body>
</html>