<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  
<body>
<h1 class="head">
    Maps
</h1>
<div>
    <ul class="nav nav-tabs navbar-center">
      <li role="presentation"><a href="/map1">MAP 1</a></li>
      <li role="presentation"><a href="/map2">MAP 2</a></li>
      <li role="presentation"><a href="/map3">MAP 3</a></li>
      
    </ul>
    
</div>
<h1>
    map1
</h1>    
    
  
    
  
    <div id="map"></div>
    <script>

      // This example creates a 2-pixel-wide red polyline showing the path of
      // the first trans-Pacific flight between Oakland, CA, and Brisbane,
      // Australia which was made by Charles Kingsford Smith.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: {lat: 27.0000, lng: 78.000},
          mapTypeId: 'terrain'
        });

        var flightPlanCoordinates = [
          {lat: 28.7041, lng: 77.1025},
          {lat: 27.291, lng: 77.1025},
          {lat: 27.291, lng: 79.431},
          {lat: 28.7041, lng: 79.431},
          {lat: 28.7041, lng: 77.1025}
        ];
        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        flightPath.setMap(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqPCOM3R3PMaUMUGxa-MJ34BOSXWfxL7g&callback=initMap">
    </script>
  </body>
</html>
    
</body>

