<h1 class="head">
    maps

</h1>
<div>
    <ul class="nav nav-tabs navbar-center">
      <li role="presentation"><a href="/map1">MAP 1</a></li>
      <li role="presentation"><a href="/map2">MAP 2</a></li>
      <li role="presentation"><a href="/map3">MAP 3</a></li>
      
    </ul>
    
</div>