<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/style.css" /> 
    </head>
    <body class="head">
        <h1 class="head">
        MASTER SLAVE
    </h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>
            <a href="/1"><button type="button">MASTER 1</button></a>              
          </h3>
        </div>
        <div class="col-md-4">
          <h3>
            <a href="/2"><button type="button">MASTER 2</button></a>
          </h3>
        </div>
        <div class="col-md-4">
          <h3>
            <a href="/3"><button type="button">MASTER 3</button></a>
          </h3>
        </div>
      </div>
    </div>

        <h1>
            MASTER 3
        </h1>
        <form action="/post3" method="post">
            <h3>DRONE 1</h3>
            latitude<br>
            <input type="text" name="master3lat1" ><br>
            
            longitude<br>
            <input type="text" name="master3long1">
            <br>
            <h3>DRONE 2</h3><br>
            latitude<br>
            <input type="text" name="master3lat2" ><br>
            
            longitude<br>
            <input type="text" name="master3long2">
            <br>
            <h3>DRONE 3</h3><br>
            latitude<br>
            <input type="text" name="master3lat3" ><br>
            
            longitude<br>
            <input type="text" name="master3long3">
                    <br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>